
PizzariaUDS/PizzariaUDS\.Application/bin/

PizzariaUDS/PizzariaUDS\.Application/obj/

PizzariaUDS/PizzariaUDS\.Domain/bin/

PizzariaUDS/PizzariaUDS\.Domain/obj/

PizzariaUDS/PizzariaUDS\.Domain\.Core/bin/

PizzariaUDS/PizzariaUDS\.Domain\.Core/obj/

PizzariaUDS/PizzariaUDS\.Domain\.Tests/bin/

PizzariaUDS/PizzariaUDS\.Domain\.Tests/obj/

PizzariaUDS/PizzariaUDS\.Infra\.CrossCutting\.Bus/bin/

PizzariaUDS/PizzariaUDS\.Infra\.CrossCutting\.Bus/obj/

PizzariaUDS/PizzariaUDS\.Infra\.CrossCutting\.Identity/bin/

PizzariaUDS/PizzariaUDS\.Infra\.CrossCutting\.Identity/obj/

PizzariaUDS/PizzariaUDS\.Infra\.CrossCutting\.IoC/bin/

PizzariaUDS/PizzariaUDS\.Infra\.CrossCutting\.IoC/obj/

PizzariaUDS/PizzariaUDS\.Infra\.Data/obj/

PizzariaUDS/PizzariaUDS\.Services\.API/bin/

PizzariaUDS/PizzariaUDS\.Services\.API/obj/
